<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>머스테치 실습1</title>
</head>
<body> 
    <h2>머스테치 변수값 출력</h2>
    
    <p>당신의 이름은 {{ name }} 입니다.</p>

    <p>주석으로 출력되지 않습니다.<br>
    당신의 이름은 {{! name }} 입니다.</p>

    <p>html로 출력됩니다.<br>
    당신의 이름은 {{{ name_html }}} 입니다.<br>
    당신의 이름은 {{& name_html }} 입니다.</p>

    value속성에 값 넣기<br>
    <input type="text" value="{{ value }}" /><br>

</body>

</html>